<!DOCTYPE html>
<html lang="en">
<head>
  <title> .Details </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link rel="stylesheet" class="js-color-style" href="/assets/css/colors/color-1.css">
  <link rel="stylesheet" class="js-glass-style" href="/assets/css/glass.css" disabled>
</head>
<body>
    
  <!-- page loader start -->
  <div class="page-loader js-page-loader">
    <div></div>
  </div>
  <!-- page loader end -->

    <!--main warpper start-->
<div class="main-wrapper">

  <!-- header start-- -->
  {{ template "header" . }}
  <!-- header end-- -->

    <!-- breadcrumb start -->
    <div class="breadcrumb-nav">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/courses">Courses</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{.Content.Title}}</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- breadcrumb end -->

    <!-- courses details section start -->
    <section class="courses-details section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <!-- course header start -->
            <div class="course-header box">
              <h2 class="text-capitalize"> {{.Content.Title}}</h2>
              <div class="rating">
                <span class="average-rating"> {{.Content.Rating}}</span>
                <span class="average-stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </span>
                <span class="reviews">{{ .Content.Reviews }}</span>
              </div>
              <ul>
                <li>Enrolled students - <span>{{.Content.Enrolled}}</span></li>
                <li>Created by - <span>{{.Content.Instructor.First_name}} {{.Content.Instructor.Last_name}}</a></span></li>
                <li>Last updated - <span>{{.Content.LastUpdated.Format "2006-01-02 15:04:05"}}</span></li>
                <li>Language - <span>{{.Content.Language}}</span></li>
              </ul>
            </div>
            <!-- course header end -->


            <!-- course tabs start -->
            <nav class="course-tabs">
              <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                <button class="nav-link active" id="course-curriculum-tab" data-bs-toggle="tab" data-bs-target="#course-curriculum" type="button" role="tab" aria-controls="course-curriculum" aria-selected="true">curriculum</button>
                <button class="nav-link" id="course-description-tab" data-bs-toggle="tab" data-bs-target="#course-description" type="button" role="tab" aria-controls="course-description" aria-selected="false">description</button>
                <button class="nav-link" id="course-instructor-tab" data-bs-toggle="tab" data-bs-target="#course-instructor" type="button" role="tab" aria-controls="course-instructor" aria-selected="false">instructor</button>
                <button class="nav-link" id="course-reviews-tab" data-bs-toggle="tab" data-bs-target="#course-reviews" type="button" role="tab" aria-controls="course-reviews" aria-selected="false">reviews</button>
              </div>
            </nav>
            <!-- course tabs end -->

            <!-- tab panes start -->
            <div class="tab-content" id="nav-tabContent">
              <!-- course curriculum start -->
              {{ template "curriculum" . }}
              <!-- course curriculum end -->

              <!-- course description start -->
              {{ template "description" . }}
              <!-- course description end --> 

              <!-- course instructor start -->
              {{ template "instructor" . }}
              <!-- course instructor end --> 

              <!-- course reviews start -->
              {{ template "reviews" . }}
              <!-- course reviews end --> 
            </div>
            <!-- tab panes end -->

          </div>
          <div class="col-lg-4">
            <!-- course sidebar start -->
            {{ template "sidebar" . }}
            <!-- course sidebar end -->
          </div>
        </div>
      </div>
    </section>
    <!-- courses details section end -->



  <!-- footer start -->
  {{ template "footer" . }}
  <!-- footer end -->

</div>
    <!--main warpper end-->

    <!-- course preview modal start -->
    <div class="modal fade video-modal js-course-preview-modal" id="video-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body p-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <i class="fas fa-times"></i>
            </button>
            <div class="ratio ratio-16x9">
              <div controls class="js-course-preview-video">
                <iframe width="800" height="600" src="https://www.youtube.com/embed/Ww35fN_Iu-U" frameborder="0" allowfullscreen></iframe>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- course preview modal end -->





    <!-- style switcher start -->
    {{ template "style-switcher" }}
    <!-- style switcher end -->





    

<script src="/assets/js/bootstrap.bundle.min.js"></script>  
<script src="/assets/js/main.js"></script>

<script>
const YTPlayerOverlay = document.querySelector(".youtube-player-overlay");
const YTLinks = document.querySelectorAll(".youtube-link");
const YTPlayerPopup = document.querySelector(".youtube-player-popup iframe");
YTLinks.forEach((link) => {
  link.addEventListener("click", () =>{
    YTPlayerOverlay.classList.add("active");
    let videoLink = `https://www.youtube.com/embed/${link.dataset.link}`
    log.console(videoLink)
    YTPlayerPopup.src = videoLink;
  });
});

YTPlayerOverlay.addEventListener("click", () => {
  YTPlayerOverlay.classList.remove("active");
});
</script>

</body>
</html>