{{ define "header" }}

<header class="header">
    <div class="container">
      <div class="header-main d-flex justify-content-between align-items-center">
       <div class="header-logo">
        <a href="/">Bra<span>Income</span></a>
       </div>
       <button type="button" class="header-hamburger-btn js-header-manu-toggler">
        <span></span>
       </button>
       <div class="header-backdrop js-header-backdrop"></div>
       <nav class="header-menu js-header-manu">
        <button type="button" class="header-close-btn js-header-manu-toggler">
          <i class="fas fa-times"></i>
        </button>
        <ul class="menu">
          <li class="menu-item"><a href="/">Home</a></li>
          <li class="menu-item"><a href="/courses">Courses</a></li>

          {{if .IsAuthorized}}
          <li class="menu-item menu-item menu-item-has-children">
            <a href="#" class="js-toggle-sub-menu">{{ .User.First_name }} {{ .User.Last_name }}<i class="fas fa-chevron-down"></i></a>
            <ul class="sub-menu js-sub-menu">
              {{ if eq .User.User_type "ADMIN" }}
              <li class="sub-menu-item"><a href="/publish">Publish courses</a></li>
              {{ end }}
              <li class="sub-menu-item"><a href="/my-profile">My profile</a></li>
              <li class="sub-menu-item"><a href="/sign-out">Log out</a></li>
              
            </ul>
          </li>
          {{else}}
          <li class="menu-item menu-item menu-item-has-children">
            <a href="#" class="js-toggle-sub-menu">registration / login<i class="fas fa-chevron-down"></i></a>
            <ul class="sub-menu js-sub-menu">
              <li class="sub-menu-item"><a href="/sign-in">Log in</a></li>
              <li class="sub-menu-item"><a href="/sign-up">Sign up</a></li>

            </ul>
          </li>
          {{end}}
          <li class="menu-item"><a href="/contact">Contact</a></li>
        </ul>
       </nav>
      </div>
    </div>
</header>

{{ end }}