<!DOCTYPE html>
<html lang="en">
<head>
  <title> Publish a course </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link rel="stylesheet" class="js-color-style" href="/assets/css/colors/color-1.css">
  <link rel="stylesheet" class="js-glass-style" href="/assets/css/glass.css" disabled>
</head>
<body>

  <!-- page loader start -->
  <div class="page-loader js-page-loader">
    <div></div>
  </div>
  <!-- page loader end -->
    
    <!--main warpper start-->
<div class="main-wrapper">

  <!-- header start-- -->
  {{ template "header" .}}
  <!-- header end-- -->

      <!-- breadcrumb start -->
      <div class="breadcrumb-nav">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/index">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- breadcrumb end -->

      <!-- contact section start -->
      <section class="contact-section section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="contact-form box">
                <h2 class="form-title text-center">Course details</h2>
                <form action="/publish" method="POST" id="courseForm" enctype="application/x-www-form-urlencoded">
                  <div id="debugOutput"></div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="fullName" placeholder="Your Full Name" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Title" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="description" placeholder="Description" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="categories" placeholder="Categories" required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="language" placeholder="Language" required>
                  </div>

                  <div id="modulesContainer">
                      <!-- Dynamic modules will be appended here -->
                  </div>
                  <button type="button" onclick="addModule()" class="btn btn-secondary" style="margin-top: 20px; margin-right: 10px;">Add Module</button>
                  <button type="submit" onclick="submitForm()" class="btn btn-primary" style="margin-top: 20px;">Submit Course</button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- contact section end -->



  <!-- footer start -->
  {{ template "footer" .}}
  <!-- footer end -->

</div>
    <!--main warpper end-->






<!-- style switcher start -->
{{ template "style-switcher" }}
<!-- style switcher end -->




<script src="/assets/js/bootstrap.bundle.min.js"></script>  
<script src="/assets/js/main.js"></script>
</body>
</html>