<!DOCTYPE html>
<html lang="en">
<head>
  <title> Sign Up </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/font-awesome.css">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link rel="stylesheet" class="js-color-style" href="/assets/css/colors/color-1.css">
  <link rel="stylesheet" class="js-glass-style" href="/assets/css/glass.css" disabled>
</head>
<body>
    
  <!-- page loader start -->
  <div class="page-loader js-page-loader">
    <div></div>
  </div>
  <!-- page loader end -->

    <!--main warpper start-->
<div class="main-wrapper">

  <!-- header start--->
  {{ template "header" .}}
  <!-- header end-- -->

    <!-- breadcrumb start -->
    <div class="breadcrumb-nav">
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Регистрация</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- breadcrumb end -->




    <!-- signup section start -->
    <section class="signup-section section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-6 col-xl-5">
            <div class="signup-from box">
              <h2 class="form-title text-center">Создать новый аккаунт</h2>
              <form action="/sign-up" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control" name="first_name" placeholder="Имя" required>
                  {{ with .ErrMsgs.first_name }}<p class="text-danger"> {{ . }} </p>{{ end }}
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="last_name" placeholder="Фамилия" required>
                  {{ with .ErrMsgs.last_name }}<p class="text-danger"> {{ . }} </p>{{ end }}
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Почта" required>
                  {{ with .ErrMsgs.email }}<p class="text-danger"> {{ . }} </p>{{ end }}
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Пароль" required>
                  {{ with .ErrMsgs.password }}<p class="text-danger"> {{ . }} </p>{{ end }}
                </div>
                <button type="submit" class="btn btn-block btn-theme btn-form">Зарегистрироваться</button>
                <p class="text-center mt-4 mb-0 "> У вас есть аккаунт? <a href="/sign-in">Войти</a></p>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- signup section end -->



  <!-- footer start -->
  {{ template "footer" .}}
  <!-- footer end -->

</div>
    <!--main warpper end-->



<!-- style switcher start -->
{{ template "style-switcher" }}
<!-- style switcher end -->





<script src="/assets/js/bootstrap.bundle.min.js"></script>  
<script src="/assets/js/main.js"></script>
</body>
</html>